* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/** Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    color: #fff;
    background-color: #2e80ce;
    height: 60px;
    padding: 0 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    min-width: 205px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/** Header */
.header {
    min-height: 100vh;
    background: var(--primary-color, #10375c);
    padding-top: 30px;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    color: #fff;
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__login {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link--active,
.navbar__link:hover,
.header-action__login:hover {
    color: #fff;
    text-shadow: 0.5px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    left: -8px;
    top: -2px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    height: 44px;
    min-width: 104px;
}
