* {
    box-sizing: border-box;
}

:root {
    --primary-color: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/** Common */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.btn {
    color: #fff;
    background-color: #2e80ce;
    height: 60px;
    padding: 0 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 99px;
    min-width: 205px;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75; /* 175% */
    border: 1px solid #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

.section-heading {
    color: #10375c;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2; /* 120% */
    letter-spacing: -1px;
}

.section-desc {
    color: #575f66;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
    margin-top: 18px;
}

/** Header */
.header {
    min-height: 100vh;
    background: var(--primary-color, #10375c);
    padding-top: 30px;
}

.header .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1rem;
    position: relative;
    display: inline-flex;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    border-radius: 50%;
    display: inline-block;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background-color: #2e80ce;
}

.logo__circle::after {
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
    position: absolute;
    top: 1.1em;
    left: 1.1em;
}

.logo__text {
    margin-left: 0.6em;
    text-align: right;
    line-height: 1.6em;
}

.logo__brand {
    color: #fff;
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.navbar__link,
.header-action__login {
    padding: 4px 21px;
    color: #c9d2da;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 300;
}

.navbar__link--active,
.navbar__link:hover,
.header-action__login:hover {
    color: #fff;
    text-shadow: 0.5px 0 0 currentColor;
}

.navbar__link--active::before {
    content: "";
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    background-color: #fff;
    position: relative;
    left: -8px;
    top: -2px;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    height: 44px;
    min-width: 104px;
}

/** Hero */
.hero {
    margin-top: 76px;
    display: flex;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
    flex-shrink: 0;
}

.hero__media {
    flex-grow: 1;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66; /* 166.667% */
}

.hero__row {
    margin-top: 38px;
    display: flex;
    align-items: center;
    gap: 38px;
}

.hero__phone {
    color: #fff;
    text-align: center;
    font-size: 1.8rem;
    line-height: 1.66; /* 166.667% */
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/** Service */
.service {
    margin: 170px 0;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    max-width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service__row {
    display: flex;
    margin-top: 70px;
    justify-content: space-between;
    align-items: center;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-item {
    width: 470px;
    border-radius: 10px;
    background: #fff;
    padding: 22px;
    display: flex;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0 14px 28px 0 rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    color: white;
    background-color: #2e80ce;
}

.service-item__icon {
    width: 60px;
    height: 60px;
    background-color: #eff6fd;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #10375c;
    flex-shrink: 0;
    transition: 0.25s;
}

.service-item__body {
    margin-left: 20px;
}

.service-item__heading {
    color: #10375c;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.27;
}

.service-item__desc {
    margin-top: 8px;
    color: #575f66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75; /* 175% */
}

.service__list {
    margin-bottom: 55px;
}
